.card-img {
    object-fit: cover;
}


.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}

.card .btn-img,
.remove-img {
    position: absolute;
    top: 38%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    font-size: 14px;
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    /* right: 60%; */
}

.card:hover .btn-img {
    opacity: 1;
}


.card .plus-btn {
    position: absolute;
    top: 26%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
    left: 67%;
    font-size: 14px;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
}

.card .minus-btn {
    position: absolute;
    top: 26%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
    left: 34%;
    font-size: 14px;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
}

.card .incart {
    position: absolute;
    top: 25%;
    color: white;
}