.App {
  text-align: center;
}


.btn {
  width: 3rem;
  height: 3rem;
}

.btn div {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-31%, -5%)
}



.stars {
  position: relative;
  text-align: center;
}